/* ******************* */
/* GENERAL DEFINITIONS */
/* ******************* */

html {
  font-size: 18px;
  font-family: Helvetica;
}

body {
  line-height: 1.4;
}

h1 {
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;
}

.container {
  width: 960px;
  margin: auto;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* ****************** */
/* HEADER DEFINITIONS */
/* ****************** */

header {
  background: url("../images/glasses-bg.png") no-repeat center center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 30rem;
  padding-top: 1rem;
  color: white;
}

header nav {
  width: 100%;
  background: cadetblue;
  padding: 1rem 0;
}

header nav img {
  height: 1.5rem;
  margin-left: 1rem;
  margin-right: 0.5rem;
}

header .menu {
  padding-right: 2rem;
}

header .menu .menu_item {
  padding: 0 1rem;
}

header .truncated-menu {
  display: none;
}

header .container.flex.flex_end {
  justify-content: flex-end;
}

header .main-banner {
  background-color: white;
  padding: 1.5rem 5rem;
  color: black;
  margin-top: 10rem;
  margin-right: -2rem;
}

/* ***************************** */
/* HEADER RESPONSIVE DEFINITIONS */
/* ***************************** */

@media only screen and (max-width: 1080px) {
  .container {
    width: 100%;
  }

  header {
    padding: 0;
    height: 22rem;
  }

  header .main-banner {
    padding: 0.75rem 4rem;
    margin-top: 5rem;
    margin-right: 2rem;
  }

  h1 {
    font-size: 1.33rem;
  }
}

@media only screen and (max-width: 760px) {
  header .menu .menu_item {
    display: none;
  }

  header .truncated-menu {
    display: inline-block;
    cursor: pointer;
  }
}

@media only screen and (max-width: 480px) {
  header {
    height: 17rem;
  }

  header .main-banner {
    width: 100%;
    padding: 1rem 0;
    text-align: center;
    margin-top: 9rem;
    margin-right: 0;
  }

  h1 {
    font-size: 1rem;
  }
}

/* ************************ */
/* MAIN CONTENT DEFINITIONS */
/* ************************ */

main {
  margin: 3rem 0 5rem 0;
}

/* Supporting Section */

.container.flex.supporting {
  justify-content: center;
}

.container.flex.supporting .flex_item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: 3rem;
  width: 5rem;
  height: 8rem;
}

.container.flex.supporting .flex_item img {
  width: 3.5rem;
}

/* Information Section */

.information {
  display: flex;
  justify-content: center;
}

.info {
width: 35%;
}

.info.philosophy {
  margin-right: 5%;
}

.title {
  width: 10rem;
  padding: 0.5rem 0 0.5rem 1.25rem;
  color: white;
  background-color: cadetblue;
  margin-bottom: 1rem;
}

/* *************************** */
/* MAIN RESPONSIVE DEFINITIONS */
/* *************************** */

@media only screen and (max-width: 560px) {
  main {
    margin: 0;
  }

  .container.flex.supporting {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 3.77rem 0;
  }

  .container.flex.supporting .flex_item {
    margin: 1.54rem;
    height: 6rem;
  }

  .item_text,
  .info p {
  font-size: 0.77rem;
  }

  .information {
    width: 100%;
    flex-direction: column;
  }

  .title {
    width: 100%;
    padding: 1rem 0;
    text-align: center;
  }

  .info {
    width: 100%;
  }

  .info.philosophy {
    margin: 0 0 4rem 0;
  }

}


/* ****************** */
/* FOOTER DEFINITIONS */
/* ****************** */



/* ***************************** */
/* FOOTER RESPONSIVE DEFINITIONS */
/* ***************************** */
